# Configuración de entorno de ejemplo para el flujo de trabajo lifia_um_quantum
# A partir de este archivo se puede generar la configuración de entorno definitiva
# >cp .env-example .env

# Define el ecosistema de ejecución objetivo, es decir, el lenguaje a probar (por ejemplo: QISKIT)
ECOSYSTEM=QISKIT

# Ruta al archivo de especificación de entrada (JSON) o descripción unitaria
INPUT_FILE=abstraction2.json

# Nivel de abstracción inicial (1..6). Si se omite, el ejecutor intentará leer
# "abstraction_level" desde el archivo de entrada; si no existe, por defecto será 1.
INPUT_LEVEL=2

# Directorio donde se configuran los archivos de entrada
INPUT_DIR=input

# Directorio donde se generan los archivos de salida
OUTPUT_DIR=output

# Ruta opcional para el archivo de registro (log)
LOG_FILE=workflow.log

# Directorio de generación de la información logueada por la app
LOG_DIR=logs

# Cantidad de qubits utilizados
# En base a esta configuración se determina la dimensión de la matriz de densidad
CANT_QUBITS=3
